/* 2.08 - Carousel or Slider - Start
================================================== */

.carousel {
	.carousel-item {
		aspect-ratio: 5/4;
		img {
			aspect-ratio: 5/4;
		}
	}
	.carousel-indicators {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;
		background-color: rgb(0 0 0 / 0.6);
	}
}

// Pagination - Start
.swiper-pagination-bullets {
	display: flex;
	position: static;
	padding: 60px 0 0;
	justify-content: center;

	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		&.swiper-pagination-bullet-active {
			background-color: var(--bs-primary);
		}
	}
}
// Pagination - End

/* 2.08 - Carousel or Slider - End
================================================== */